<img-comparison-slider hover="hover" tabindex="0" class="slider-example-split-line rendered">
  <img slot="first"
    src="https://images.unsplash.com/photo-1586017073264-9128a0e03489?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
    width="700" height="600">

  <img slot="second"
    src="https://images.unsplash.com/photo-1495756650324-e45118cb3e35?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGd1eSUyMG9uJTIwYWR2ZW50dXJlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
    width="700" height="600">
</img-comparison-slider>


<form>
  <input type="text" name="username" [(ngModel)]="loginUser.username" placeholder="User name">
  <br>
  <input type="password" name="password" [(ngModel)]="loginUser.password" placeholder="Password">
  <br>
  <button (click)="login(loginUser)">Login</button>
</form>
