<img-comparison-slider hover="hover" tabindex="0" class="slider-example-split-line rendered">
  <img slot="first"
    src="https://images.unsplash.com/photo-1586017073264-9128a0e03489?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
    width="1920" height="600" style="object-fit: cover;">

  <img slot="second"
    src="https://images.unsplash.com/photo-1545154016-7fa269cce717?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1452&q=80"
    width="1920" height="600" style="object-fit: cover;">
</img-comparison-slider>

<div class="container min-vh-50 d-flex justify-content-center align-items-center">
  <form id="myForm" class="position-absolute top-50 start-50 translate-middle" style="">
    <legend class="text-center">Sign In</legend>
    <input class="form-control" type="text" name="username" [(ngModel)]="loginUser.username" placeholder="User name">
    <br>
    <input class="form-control" type="password" name="password" [(ngModel)]="loginUser.password" placeholder="Password">
    <br>
    <button class="btn btn-outline-primary" (click)="login(loginUser)">Login</button>
  </form>
</div>


<div id="curvy-banner">

  <p id="aboutUs"> Through vivid storytelling and stunning visuals,
    the blog takes readers on immersive journeys to
    breathtaking destinations, providing insightful travel tips, personal anecdotes, and inspiring experiences along the
    way. Whether you're a seasoned globetrotter or an armchair traveler, Journey Journals is the perfect companion to
    ignite your wanderlust and inspire your next exploration.</p>

</div>
