<div id="back" class="background-image" *ngIf="!selectedCountry">
  <div id="list" *ngIf="checkedLogin() && !showingForm">
    <div class="text-center">
      <div *ngFor="let c of continents">
        <h1 id="cursor" (click)="toggleCollapse(c.name)">{{c.name}}
        </h1>
        <div [hidden]="!isCollapsed(c.name)">
          <div style="overflow-y: auto; max-height: 400px;" class="row">
            <div class="col-md-4" *ngFor="let co of c.countries" (click)="diplayCountry(co)">
              <div class="card rounded bg-dark text-light mb-1">
                <h5 class="card-title">{{co.name}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="addForm" *ngIf="showingForm">
  <div id="back">
    <div class="container min-vh-50 d-flex justify-content-center align-items-center">
      <form id="myForm" class="position-absolute top-50 start-50 translate-middle row g-3">
        <legend class="text-center">ADD</legend>
        <div class="col-md-6">
          <input class="form-control" type="text" name="name" [(ngModel)]="newDes.name" placeholder="Name" />
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" name="city" [(ngModel)]="newDes.city" placeholder="City" />
        </div>
        <div class="col-12">
          <input class="form-control" type="text" name="state" [(ngModel)]="newDes.state" placeholder="State" />
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" name="imageUrl" [(ngModel)]="newDes.imageUrl"
            placeholder="image (URL)" />
        </div>
        <div class="col-12">
          <textarea class="form-control" name="description" cols="30" rows="5" [(ngModel)]="newDes.description"
            placeholder="Tell Us About This New Destination "></textarea>
        </div>
        <input type="hidden" name="enabled" value="1" [(ngModel)]="newDes.enabled">
        <button class="btn btn-primary" type="submit" (click)="addDestination(newDes)">Add Destination</button>
        <button class="btn btn-outline-secondary" (click)="showingForm = false">Back</button>
      </form>
    </div>
  </div>
</div>

<div id="imagebehind" class="background-image">
  <div id="countryDetails" *ngIf="selectedCountry " class="container-fluid" [ngClass]="opactiyGetter()">
    <h1 id="country-name">{{selectedCountry.name}}</h1>
    <div class="row">
      <div class="col-md-4" *ngFor="let d of selectedCountry.destinations">
        <div class="card rounded bg-dark text-light mb-4">
          <img src="{{d.imageUrl}}" alt="{{d.name}}" class="card-img-top img-fluid" width="200">
          <div class="card-body">
            <h6 class="card-subtitle">{{d.name}}</h6>
            <p style="overflow-y: auto; max-height: 200px;" class="card-text">{{d.description}}</p>
            <button class="btn btn-primary">Discover {{d.name}}</button>
          </div>
        </div>
        <button id="one" class="btn btn-outline-danger" *ngIf="destinationsCreatedByUser(d)"
          (click)="deleteDestination(d.id)">Delete
          Destination</button>
        <button id="two" class="btn btn-outline-info" *ngIf="destinationsCreatedByUser(d)"
          (click)="displayUpdateForm(d)">Update
          Destination</button>
      </div>
    </div>
    <button id="three" class="btn btn-secondary" (click)="displayList()">Back</button>
    <button id="four" class="btn btn-outline-primary" (click)="showAddForm(selectedCountry.id)">Add new
      Destination</button>
  </div>
</div>

<div id="updateForm" *ngIf="selected">
  <div id="back">
    <div class="container min-vh-50 d-flex justify-content-center align-items-center">
      <form id="myForm" class="position-absolute top-50 start-50 translate-middle row g-3">
        <legend class="text-center">Update</legend>
        <div class="col-md-6">
          <input class="form-control" type="text" name="name" [(ngModel)]="selected.name" placeholder="Name" />
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" name="city" [(ngModel)]="selected.city" placeholder="City" />
        </div>
        <div class="col-12">
          <input class="form-control" type="text" name="state" [(ngModel)]="selected.state" placeholder="State" />
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" name="imageUrl" [(ngModel)]="selected.imageUrl"
            placeholder="image (URL)" />
        </div>
        <div class="col-12">
          <textarea class="form-control" name="description" cols="30" rows="5" [(ngModel)]="selected.description"
            placeholder="Tell us about "></textarea>
        </div>
        <input type="hidden" name="enabled" value="1" [(ngModel)]="selected.enabled">
        <button class="btn btn-primary" type="submit" (click)="updateDestination( selected.id, selected)">Update
          Destination</button>
        <button class="btn btn-outline-secondary" (click)="selected = null">Back</button>
      </form>
    </div>
  </div>
</div>

<div style="margin-top: 200px;" *ngIf="! checkedLogin()">
  <ul class="list-group" *ngFor="let c of continents">
    <li class="list-group-item">{{c.name}}
      <ul class="list-group" *ngFor="let co of c.countries">
        <li class="list-group-item" [routerLink]="['/register']">{{co.name}}
        </li>
      </ul>
    </li>
  </ul>
</div>
