<div class="container mt-5" *ngIf="checkedLogin()">
  <div id="accordion">
    <div *ngFor="let c of continents" class="card">
      <div class="card-header" id="heading{{c.name}}">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse " aria-expanded="true"
            aria-controls="collapse">
            {{c.name}}
          </button>
        </h5>
      </div>
      <div id="collapse{{c.name}}" class="collapse show" aria-labelledby="heading " data-parent="#accordion">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let country of c.countries">
              <a [routerLink]="['/country']"><app-country (click)=" sendCountry(country)" [showNewForm]="true"
                  [country]="country">
                </app-country></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




<div style="margin-top: 200px;" *ngIf="! checkedLogin()">
  <ul class="list-group" *ngFor="let c of continents">
    <li class="list-group-item">{{c.name}}
      <ul class="list-group" *ngFor="let co of c.countries">
        <li class="list-group-item" [routerLink]="['/register']">{{co.name}}
        </li>
      </ul>
    </li>
  </ul>
</div>
