-------------------------------
<p>{{country?.name}}</p>
-------------------------------
<ul class="list-group mt-2" *ngIf="country">
  <li *ngFor="let d of country.destinations" (click)="displayDestination(d)" class="list-group-item">
    <img class="img-fluid" src="{{d.imageUrl}}" alt="{{d.name}}" width="200">
    <ul>
      <li>{{d.name}}</li>
      <!-- <li><iframe src="https://www.google.com/maps?q={{d.city}},{{d.state}}&z=10&output=embed" height="auto" width="200" style="border:0" allowfullscreen></iframe></li> -->
      <li>{{d.description}}</li>
      <li *ngFor="let place of d.places">
        <ul>
          <li>{{place.name}}</li>
          <li>{{place.street}}</li>
          <li>{{place.zipcode}}</li>
          <li>{{place.description}}</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<div id="form" *ngIf="showNewForm">
  <div id="back">
    <div class="container min-vh-50 d-flex justify-content-center align-items-center">
      <form id="myForm" *ngIf="newDes" class="position-absolute top-50 start-50 translate-middle row g-3">
        <legend class="text-center">Add Your Destination</legend>
        <div class="col-md-6">
          <input class="form-control" type="text" name="name" [(ngModel)]="newDes.name" placeholder="Name" />
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" name="city" [(ngModel)]="newDes.city" placeholder="City" />
        </div>
        <div class="col-12">
          <input class="form-control" type="text" name="state" [(ngModel)]="newDes.state" placeholder="State" />
        </div>
        <div class="col-12">
          <textarea class="form-control" name="description" [(ngModel)]="newDes.description" cols="20" rows="5"
            placeholder="Tell us about it."></textarea>
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" name="imageUrl" [(ngModel)]="newDes.imageUrl"
            placeholder="image (URL)" />
        </div>
        <input type="hidden" name="enabled" value="1" [(ngModel)]="newDes.enabled">
        <button class="btn btn-primary" type="submit" (click)="addDestination(newDes)">Create Destination</button>
      </form>
    </div>
  </div>
</div>

<button style="margin-top: 200px;" (click)="toggleForm()">Add Destination To Country</button>
<button (click)="toggleEditForm()">Edit Destination For Details</button>

<!-- <div id="DestinationDetails">
  <h1>{{country?.name}}</h1>
  <img src="" alt="">
  <blockquote></blockquote>
  <small>
    <small></small>
  </small>
</div> -->



<div id="editForm" *ngIf="selected && editDes">
  <div id="back">
    <div class="container min-vh-50 d-flex justify-content-center align-items-center">
      <form id="myForm" class="position-absolute top-50 start-50 translate-middle row g-3">
        <legend class="text-center">Edit Your Destination</legend>
        <div class="col-md-6">
          <input class="form-control" type="text" name="name" [(ngModel)]="editDes.name" placeholder="Name" />
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" name="city" [(ngModel)]="editDes.city" placeholder="City" />
        </div>
        <div class="col-12">
          <input class="form-control" type="text" name="state" [(ngModel)]="editDes.state" placeholder="State" />
        </div>
        <div class="col-12">
          <textarea class="form-control" name="description" [(ngModel)]="editDes.description" cols="20" rows="5"
            placeholder="Tell us about it."></textarea>
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" name="imageUrl" [(ngModel)]="editDes.imageUrl"
            placeholder="image (URL)" />
        </div>
        <input type="hidden" name="enabled" value="1" [(ngModel)]="editDes.enabled">
        <button class="btn btn-primary" type="submit" (click)="addDestination(editDes)">Create Destination</button>
      </form>
    </div>
  </div>
</div>
