<div id="myBackground" *ngIf="!selectedBlog">
  <div class="container" *ngIf="!showingForm">
    <div style="overflow-y: auto; max-height: 630px;" class="row">
      <div class="col-lg-4" *ngFor="let p of places">
        <div class="card rounded bg-dark text-light mb-3">
          <div style="overflow-y: auto; max-height: 538.75px;" class="card-body">
            <h5 class="card-title">Post About {{p.name}}</h5>
            <div *ngFor="let blog of p.blogs">
              <h4 style="margin-top: 10px;" class="card-subtitle mb-2 text-muted">{{blog.title}}</h4>
              <img class="card-img-top" src="{{blog.imageUrl}}" alt="{{blog.title}}" width="200"
                (click)="displayDetails(blog)">
            </div>
            <button class="btn btn-primary" (click)="showAddForm(p.id)">Add Place</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showingForm" class="container min-vh-50 d-flex justify-content-center align-items-center">
  <form id="myForm" class="position-absolute top-50 start-50 translate-middle row g-3">
    <legend class="text-center">ADD</legend>
    <div class="col-md-6">
      <input class="form-control" type="text" name="Title" [(ngModel)]="newBlog.title" placeholder="Title" />
    </div>
    <div class="col-12">
      <input class="form-control" type="date" name="tripStart" [(ngModel)]="newBlog.tripStart" />
    </div>
    <div class="col-md-6">
      <input class="form-control" type="date" name="tripEnd" [(ngModel)]="newBlog.tripEnd" />
    </div>
    <div class="col-md-6">
      <input class="form-control" type="text" name="imageUrl" [(ngModel)]="newBlog.imageUrl"
        placeholder="image (URL)" />
    </div>
    <div class="col-12">
      <textarea class="form-control" name="description" cols="30" rows="5" [(ngModel)]="newBlog.description"
        placeholder="Tell Us About Your Trip Here"></textarea>
    </div>
    <input type="hidden" name="enabled" value="1" [(ngModel)]="newBlog.enabled">
    <button class="btn btn-primary" type="submit" (click)="addBlog(newBlog)" (click)="showingForm = false">Add
      A Post</button>
    <button class="btn btn-outline-secondary" (click)="showingForm = false">Back</button>
  </form>
</div>



<div id="blogDetails" *ngIf="selectedBlog" class="container-fluid" [ngClass]="opactiyGetter()">
  <button class="btn btn-secondary" (click)="displayDetails(null)" (click)="showCommentForm = false">Back</button>
  <h1 id="blogName">{{selectedBlog.title}}</h1>
  <div style="overflow-y: auto; max-height: 450px;" class="row">
    <div class="col-md-4">
      <div class="card rounded bg-dark text-light mb-4">
        <img src="{{selectedBlog.imageUrl}}" alt="{{selectedBlog.title}}" class="card-img-top img-fluid" width="200">
        <div class="card-body">
          <p style="overflow-y: auto; max-height: 200px;" class="card-text">{{selectedBlog.description}}</p>
          <div style="overflow-y: auto; max-height: 200px;">
            <div class="card mb-3">
              <div class="card-body">
                <p *ngFor="let c of selectedBlog.comments" style="overflow-y: auto; max-height: 200px;"
                  class="card-text">{{c.title}}<br>
                  <small>{{c.body}}</small>
                  <button *ngIf="commentCreatedByUser(c)" (click)="deleteComment(c)">Delete</button>
                  <button *ngIf="commentCreatedByUser(c)" (click)="selectedComment = c">Update</button>
                </p>
              </div>
            </div>
            <p class="card-text">Trip Start:{{selectedBlog.tripStart}} Trip End:{{selectedBlog.tripEnd}}</p>
          </div>
        </div>
      </div>
      <button class="btn btn-outline-primary" (click)="showCommentForm = true">Add a New Comment</button>"
      <button class="btn btn-outline-danger" *ngIf="blogCreatedByUser(selectedBlog)"
        (click)="deleteBlog(selectedBlog.id)">Delete Post</button>
      <button class="btn btn-outline-info" *ngIf="blogCreatedByUser(selectedBlog)"
        (click)="displayUpdateForm(selectedBlog)">Update
        Post</button>
    </div>
  </div>
  <div *ngIf="showCommentForm">
    <input type="text" name="title" placeholder="Title" [(ngModel)]="newCommentTitle" /><br>
    <input type="text" name="body" placeholder="Body" [(ngModel)]="newCommentBody" /><br>
    <button (click)="newCommentBody = ''" (click)="newCommentTitle = ''"
      (click)="showCommentForm = false">Cancel</button>
    <button (click)="addComment(newCommentTitle, newCommentBody, this.selectedBlog)">Submit</button>
  </div>
</div>

<div *ngIf="selectedComment">
  <input type="text" name="title" placeholder="selectedComment.title" [(ngModel)]="selectedComment.title" /><br>
  <input type="text" name="body" placeholder="selectedComment.body" [(ngModel)]="selectedComment.body" /><br>
  <button (click)="selectedComment = null">Cancel</button>
  <button (click)="updateComment(selectedComment)">Submit</button>
  <button id="three" class="btn btn-outline-secondary" (click)="displayDetails(null)">Back</button>
</div>

<div id="updateForm" *ngIf="selected">
  <div id="back">
    <div class="container min-vh-50 d-flex justify-content-center align-items-center">
      <form id="myForm" class="position-absolute top-50 start-50 translate-middle row g-3">
        <legend class="text-center">Update</legend>
        <div class="col-md-6">
          <input class="form-control" type="text" name="Title" [(ngModel)]="selected.title" placeholder="Title" />
        </div>
        <div class="col-md-6">
          <input class="form-control" type="date" name="tripStart" [(ngModel)]="selected.tripStart" />
        </div>
        <div class="col-12">
          <input class="form-control" type="date" name="tripEnd" [(ngModel)]="selected.tripEnd" />
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" name="imageUrl" [(ngModel)]="selected.imageUrl"
            placeholder="image (URL)" />
        </div>
        <div class="col-12">
          <textarea class="form-control" name="description" cols="30" rows="5" [(ngModel)]="selected.description"
            placeholder="Tell us about "></textarea>
        </div>
        <input type="hidden" name="enabled" value="1" [(ngModel)]="selected.enabled">
        <button class="btn btn-primary" type="submit" (click)="updateBlog( selected.id, selected)">Update
          Post</button>
        <button class="btn btn-outline-secondary" (click)="selected = null">Back</button>
      </form>
    </div>
  </div>
</div>
