<div id="container">
  <div id="container-one">
    <div id="userInfo">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="UserImageUrl">
        <div class="card-body">
          <h5 class="card-title">User name</h5>
          <p class="card-text">the about content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Firstname</li>
          <li class="list-group-item">lastname</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Update button</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div id="favoredDestinations">
      <table class="table table-dark table-hover table-bordered">
        <caption>Favorite Destinations</caption>
        <tbody>
          <tr>
            <td>Favored destinations</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="container-two">
    <caption>My Blogs</caption>
    <div id="column-container">
      <div id="column" *ngFor="let blog of blogs;">
        <img [routerLink]="['/bloglist']" src="{{blog.imageUrl}}" alt="{{blog.title}}" width="150" height="auto">
      </div>
    </div>
  </div>

  <div id="container-three">
    <div id="users-followed">
      <table class="table table-dark table-hover table-bordered">
        <caption>Users Followed</caption>
        <tbody>
          <tr>
            <td>Users Followed</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="tbd"></div>
</div>
