
<div name="listofUserBlogs">
  <ul *ngFor="let blog of blogs">
    <li>{{blog.title}}</li>
    <li>{{blog.description}}</li>
    <li>{{blog.tripStart}}</li>
    <li>{{blog.tripEnd}}</li>
    <ul *ngFor="let comment of blog.comments">
  <li>{{comment.title}}</li>
  <li>{{comment.body}}</li>
</ul>
</ul>
</div>

<div name="addForm" >
<form>
  Title: <input type="text" name="title"  [(ngModel)]="newBlog.title">
  Description: <input type="text" name="description"  [(ngModel)]="newBlog.description">
  Trip start: <input type="date" name="tripStart"  [(ngModel)]="newBlog.tripStart">
  Trip End: <input type="date" name="tripEnd"  [(ngModel)]="newBlog.tripEnd">
  Image URL: <input type="text" name="imageUrl"  [(ngModel)]="newBlog.imageUrl">
  <input type="hidden" name="enabled" value="1" [(ngModel)]="newBlog.enabled">
  <input type="hidden" name="placeId" value="1">

  <button (click)="addBlog(newBlog)" >Add Blog</button>
</form>

</div>

<div name="editForm">


</div>
