<p id="p"></p>

<div *ngIf="selected">
  <h1>{{selected.title}}</h1>
  <img src="{{selected.imageUrl}}" alt="picture of{{selected.place}}" height="auto" width="275">
  <blockquote>From: {{selected.tripStart}} To: {{selected.tripEnd}}</blockquote>
  <p>{{selected.description}}</p>
  <small *ngFor="let rate of selected.ratings">Current Rating: {{rate.ratingValue}}
    <br>
    <small>Raters Comment {{rate.ratingComment}}</small>
  </small>
  <br>
  <br>
  <button (click)="displayTable()">Back</button>
</div>

<table *ngIf="!selected" class="table table-dark table-hover table-bordered">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Description</th>
      <th>Post Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let blog of blogs" (click)=" displayBlog(blog)">
      <td><img src="{{blog.imageUrl}}" alt="Image of {{blog.title}}" width="125" height="auto"></td>
      <td>{{blog.title}}</td>
      <td>{{blog.tripStart}}</td>
      <td>{{blog.tripEnd}}</td>
      <td>{{blog.description}}</td>
      <td *ngFor="let rate of blog.ratings ">{{rate.ratingValue}}</td>
    </tr>
  </tbody>
</table>
