<p id="p"></p>

<div *ngIf="selected">
  <h1>{{selected.title}}</h1>
  <img src="{{selected.imageUrl}}" alt="picture of{{selected.place}}" height="auto" width="275">
  <blockquote>From: {{selected.tripStart}} To: {{selected.tripEnd}}</blockquote>
  <p>{{selected.description}}</p>
  <small *ngFor="let rate of selected.ratings">Current Rating: {{rate.ratingValue}}
    <br>
    <small>Raters Comment {{rate.ratingComment}}</small>
  </small>
  <br>
  <br>
  <button (click)="displayTable()">Back</button>
</div>

<div *ngIf="!selected" class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let blog of blogs" (click)="displayBlog(blog)">
      <div class="card rounded bg-dark text-light mb-4">
        <img src="{{blog.imageUrl}}" class="card-img-top" alt="Image of {{blog.title}}">
        <div class="card-body">
          <h5 class="card-title">{{blog.title}}</h5>
          <p class="card-text">{{blog.tripStart}} - {{blog.tripEnd}}</p>
          <div style="overflow-y: auto; max-height: 200px;">{{blog.description}}</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark text-light" *ngFor="let rate of blog.ratings">{{rate.ratingValue}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
