<div id="myBackground" *ngIf="!selectedPlace">
  <div class="container" *ngIf="!showingForm">
    <div style="overflow-y: auto; max-height: 500px;" class="row">
      <div class="col-lg-4" *ngFor="let d of destinations">
        <div class="card rounded bg-dark text-light mb-3">
          <div style="overflow-y: auto; max-height: 538.75px;" class="card-body">
            <h5 class="card-title">Places in {{d.name}}</h5>
            <div *ngFor="let p of d.places">
              <h4 style="margin-top: 10px;" class="card-subtitle mb-2 text-muted">{{p.name}}</h4>
              <img class="card-img-top" src="{{p.imageUrl}}" alt="{{p.name}}" width="200" (click)="displayDetails(p)">
            </div>
            <button class="btn btn-primary" (click)="showAddForm(d.id)">Add Place</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="addForm" *ngIf="showingForm">
  <div id="back">
    <div class="container min-vh-50 d-flex justify-content-center align-items-center">
      <form id="myForm" class="position-absolute top-50 start-50 translate-middle row g-3">
        <legend class="text-center">ADD</legend>
        <div class="col-md-6">
          <input class="form-control" type="text" name="name" [(ngModel)]="newPlace.name" placeholder="Name" />
        </div>
        <div class="col-12">
          <input class="form-control" type="text" name="street" [(ngModel)]="newPlace.street" placeholder="Street" />
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" name="zipcode" [(ngModel)]="newPlace.zipcode" placeholder="zipcode" />
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" name="imageUrl" [(ngModel)]="newPlace.imageUrl"
            placeholder="image (URL)" />
        </div>
        <div class="col-12">
          <textarea class="form-control" name="description" cols="30" rows="5" [(ngModel)]="newPlace.description"
            placeholder="Tell Us About This Location"></textarea>
        </div>
        <input type="hidden" name="enabled" value="1" [(ngModel)]="newPlace.enabled">
        <button class="btn btn-primary" type="submit" (click)="addPlace(newPlace)" (click)="showingForm = false">Add
          this location</button>
        <button class="btn btn-outline-secondary" (click)="showingForm = false">Back</button>
      </form>
    </div>
  </div>
</div>


<div id="placeDetails" *ngIf="selectedPlace" class="container-fluid" [ngClass]="opactiyGetter()">
  <button class="btn btn-secondary" (click)="displayDetails(null)">Back</button>
  <h1 id="placeName">{{selectedPlace.name}}</h1>
  <div style="overflow-y: auto; max-height: 610px;" class="row justify-content-center">
    <div class="col-md-4">
      <div class="card rounded bg-dark text-light mb-4">
        <img src="{{selectedPlace.imageUrl}}" alt="{{selectedPlace.name}}" class="card-img-top img-fluid" width="200">
        <div class="card-body">
          <h6 class="card-subtitle">{{selectedPlace.name}}</h6>
          <p style="overflow-y: auto; max-height: 200px;" class="card-text">{{selectedPlace.description}}</p>
          <div style="overflow-y: auto; max-height: 200px;">
            <button class="btn btn-primary">Whos Tablking about: {{selectedPlace.name}}</button>
            <p class="card-text">{{selectedPlace.street}}, {{selectedPlace.zipcode}}</p>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" *ngIf="selectedPlace" (click)="gettingUserId(selectedPlace.user.id)"> View User's
        Profile </button>
      <button class="btn btn-outline-danger" *ngIf="placesCreatedByUser(selectedPlace)"
        (click)="deletePlace(selectedPlace.id)">Delete Destination</button>
      <button class="btn btn-outline-info" *ngIf="placesCreatedByUser(selectedPlace)"
        (click)="displayUpdateForm(selectedPlace)">Update
        Location</button>
    </div>
    <div class="col-md-8">
      <iframe
        [src]="sanitizeUrl('https://www.google.com/maps?q=' + encodeAddress(selectedPlace.street) +',' + encodeAddress(selectedPlace.zipcode) + '&z=10&output=embed')"
        width="100%" height="450" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div id="updateForm" *ngIf="selected">
  <div id="back">
    <div class="container min-vh-50 d-flex justify-content-center align-items-center">
      <form id="myForm" class="position-absolute top-50 start-50 translate-middle row g-3">
        <legend class="text-center">Update</legend>
        <div class="col-md-6">
          <input class="form-control" type="text" name="name" [(ngModel)]="selected.name" placeholder="Name" />
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" name="city" [(ngModel)]="selected.street" placeholder="City" />
        </div>
        <div class="col-12">
          <input class="form-control" type="text" name="zipcode" [(ngModel)]="selected.zipcode" placeholder="zipcode" />
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" name="imageUrl" [(ngModel)]="selected.imageUrl"
            placeholder="image (URL)" />
        </div>
        <div class="col-12">
          <textarea class="form-control" name="description" cols="30" rows="5" [(ngModel)]="selected.description"
            placeholder="Tell us about "></textarea>
        </div>
        <input type="hidden" name="enabled" value="1" [(ngModel)]="selected.enabled">
        <button class="btn btn-primary" type="submit" (click)="updatePlace( selected.id, selected)">Update
          Destination</button>
        <button class="btn btn-outline-secondary" (click)="selected = null">Back</button>
      </form>
    </div>
  </div>
</div>
